<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head lang="en">
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>OAuth Server Index</title>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<script>
   // window.location="http://smart.cast.org.cn"
</script>
<body>
<div class="container">
    <h1 class="page-header">OAuth Server  Dashboard </h1>
    <div class="row">
        <div class="col-md-12" >
            <span sec:authorize="isAuthenticated()" style="display: inline-block;">
                    <a th:href="@{/logout}">Sign Out</a>
                </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>You have log in ,Welcome!</h2>


        </div>
    </div>

</div>
</body>
</html>
